<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happy.springboot.core.dao.AdminPermissionDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.happy.springboot.core.model.AdminPermission">
        <id column="id" property="id" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_url" property="permissionUrl" />
        <result column="describe" property="describe" />
        <result column="parent_id" property="parentId" />
        <result column="level" property="level" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, permission_name, permission_url, describe, parent_id, level, create_time, update_time
    </sql>

    <!-- 通用查询映射结果 -->
    <resultMap id="SecurityPermissionMap" type="com.happy.springboot.core.model.AdminPermission">
        <id column="id" property="id" />
        <result column="permission_name" property="permissionName" />
        <result column="permission_url" property="permissionUrl" />
    </resultMap>
    <select id="listSecurityPermission" resultMap="SecurityPermissionMap">
        SELECT
            ap.id, ap.permission_name,ap.permission_url
        FROM
            admin_permission ap
        LEFT JOIN admin_user_permission aup ON aup.permission_id = ap.id
        LEFT JOIN admin_role_permission arp ON arp.permission_id = ap.id
        WHERE
            aup.user_id = ${adminUserId}
        OR
        <if test="roleIds != null">
            arp.role_id in
            <foreach item="roleId" index="index" collection="roleIds"
                     open="(" separator="," close=")">
                #{roleId}
            </foreach>
        </if>
    </select>


</mapper>
